<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
  <div class="form-group">
    <input formControlName="email" class="form-control" placeholder="email" autofocus>
    <app-v-message *ngIf="signupForm.get('email')?.hasError('required')" message=" Email is required!">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('email')?.hasError('email')" message="Invalid e-mail">
    </app-v-message>
  </div>

  <div class="form-group">
    <input formControlName="fullName" class="form-control" placeholder="full name">
    <app-v-message *ngIf="signupForm.get('fullName')?.hasError('required')" message=" Full name is required!">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('fullName')?.hasError('minlength')" message="Minimum length is 2">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('fullName')?.hasError('maxlength')" message="Maximum length is 40">
    </app-v-message>
  </div>

  <div class="form-group">
    <input formControlName="userName" class="form-control" placeholder="user name">
    <app-v-message *ngIf="signupForm.get('userName')?.hasError('required')" message=" Username is required!">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('userName')?.hasError('minlength')" message="Minimum length is 2">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('userName')?.hasError('maxlength')" message="Maximum length is 30">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('userName')?.hasError('lowerCase')" message=" Must be lowercase">
    </app-v-message>
    <app-v-message message="Username already taken" *ngIf="signupForm.get('userName')?.hasError('userNameTaken')">
    </app-v-message>
    <small *ngIf="signupForm.get('userName')?.valid" class="text-success">User available</small>
  </div>

  <div class="form-group">
    <input formControlName="password" type="password" class="form-control" placeholder="password">
    <app-v-message *ngIf="signupForm.get('password')?.hasError('required')" message=" Password is required!">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('password')?.hasError('minlength')" message="Minimum length is 8">
    </app-v-message>
    <app-v-message *ngIf="signupForm.get('password')?.hasError('maxlength')" message="Maximum length is 14">
    </app-v-message>
  </div>

  <button class="btn btn-primary btn-block" [disabled]="signupForm.invalid || signupForm.pending">Register</button>

  <p>Already a user? <a [routerLink]="['']">Sign In!</a></p>
</form>
